---
- name: Ensure pip for Python 3 is installed
  apt:
    name: python3-pip
    state: present

- name: Ensure {{ app_dir }} directory exists
  file:
    path: "{{ app_dir }}"
    state: directory
    owner: "root"
    group: "root"
    mode: '0755'

- name: Ensure rsync is installed on remote
  apt:
    name: rsync
    state: present
  become: true

- name: Ensure rsync is installed on localhost
  package:
    name: rsync
    state: present
  become: true
  delegate_to: localhost

- name: Sync all sources except artifacts
  synchronize:
    src: "{{ playbook_dir }}/../.."
    dest: "{{ app_dir }}/"
    delete: true
  delegate_to: localhost
  become: false

- name: Ensure app directory exists
  file:
    path: "{{ app_dir }}"
    state: directory
    owner: "{{ app_user }}"
    group: "{{ app_user }}"
    mode: '0755'

- name: Login to docker registry
  community.docker.docker_login:
    registry_url: "{{ lookup('env', 'CI_REGISTRY') }}"
    username: "{{ lookup('env', 'CI_REGISTRY_USER') }}"
    password: "{{ lookup('env', 'CI_REGISTRY_PASSWORD') }}"

- name: Tear down services
  community.docker.docker_compose_v2:
    project_src: "{{ app_dir }}"
    state: absent
    files:
      - "{{ app_dir }}/docker-compose.yml"

- name: Create and start services
  community.docker.docker_compose_v2:
    project_src: "{{ app_dir }}/deploy/docker"
    state: present
    build: always
    files:
      - "{{ app_dir }}/deploy/docker/docker-compose.prod.yml"
    env_files:
      - "{{ app_dir }}/.env"
  environment:
    CI_REGISTRY_IMAGE: "{{ lookup('env', 'CI_REGISTRY_IMAGE') }}"
