include:
  - ./docker-compose.base.yml

services:
  api:
    image: ${CI_REGISTRY_IMAGE}/backend:${CI_COMMIT_SHA}
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/api/v1/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    env_file: ../../.env
    depends_on:
      s3-storage:
        condition: service_healthy
      cache:
        condition: service_healthy
    networks:
      - main
    ports:
     - "8000:8000"
  
  nginx:
    image: nginx:stable-alpine
    volumes:
      - '../../nginx/nginx.conf:/etc/nginx/nginx.conf'
    ports:
      - "80:80"
    depends_on:
      #- frontend
      - api
    networks:
      - main
    restart: always

networks:
  main:
    driver: bridge

volumes:
  postgres_data: