include:
  - ./docker-compose.base.yml

services:
  api:
    image: ${CI_REGISTRY_IMAGE}/backend:${CI_COMMIT_SHA}

    env_file: ../../.env
    depends_on:
      s3-storage:
        condition: service_healthy
      cache:
        condition: service_healthy
      db:
        condition: service_healthy
    networks:
      - main
    ports:
     - "8000:8000"
  
  nginx:
    image: nginx:stable-alpine
    volumes:
      - '../../nginx/nginx.conf:/etc/nginx/nginx.conf'
    ports:
      - "80:80"
    depends_on:
      #- frontend
      - api
    networks:
      - main
    restart: always

  db:
    image: postgres:18
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/18/data/
    networks:
      - main
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d db" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s


networks:
  main:
    driver: bridge

volumes:
  postgres_data: