---
uv_install:
  stage: build
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  variables:
    UV_CACHE_DIR: backend/.venv/
    UV_VERSION: "0.5"
    PYTHON_VERSION: "3.12"
    BASE_LAYER: bookworm-slim
    # GitLab CI creates a separate mountpoint for the build directory,
    # so we need to copy instead of using hard links.
    UV_LINK_MODE: copy
    GIT_CLEAN_FLAGS: none
  cache:
  - key:
      files:
        - backend/uv.lock
    paths:
      - $UV_CACHE_DIR
  script:
    - cd backend
    - uv sync --locked --group test
    - uv cache prune --ci
  artifacts:
    paths:
      - backend/.venv/
    expire_in: 1h

.postgres_variables:
  variables:
    POSTGRES_DB: ${TEST_POSTGRES_DB}
    POSTGRES_USER: ${TEST_POSTGRES_USER}
    POSTGRES_PASSWORD: ${TEST_POSTGRES_PASSWORD}
    POSTGRES_HOST: ${TEST_POSTGRES_HOST}
    POSTGRES_PORT: ${TEST_POSTGRES_PORT}

# migrations_check:
#   image: python:3.12-slim-bookworm
#   extends:
#     .postgres_variables
#   services:
#     - name: postgres:16
#       alias: db
#   needs:
#     - job: uv_install
#       artifacts: true
#   before_script:
#     - cp $TEST_ENV_FILE .env
#     - cd backend
#     - source .venv/bin/activate
#   script:
#     - alembic upgrade head
#     - alembic check


tests:
  image: python:3.12-slim-bookworm
  extends:
    .postgres_variables
  services:
    - name: postgres:16
      alias: db
  needs:
    - job: uv_install
      artifacts: true
  before_script:
    - cp $TEST_ENV_FILE .env
    - cd backend
    - source .venv/bin/activate
  script:
    - pytest --cov=src --cov-report=term --cov-report=xml:coverage.xml ./tests
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'
  artifacts:
    paths:
      - backend/coverage.xml
    reports:
      coverage_report:
        coverage_format: cobertura
        path: backend/coverage.xml
