---
uv_install:
  stage: build
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  variables:
    UV_CACHE_DIR: backend/.venv/
    UV_VERSION: "0.5"
    PYTHON_VERSION: "3.12"
    BASE_LAYER: bookworm-slim
    # GitLab CI creates a separate mountpoint for the build directory,
    # so we need to copy instead of using hard links.
    UV_LINK_MODE: copy
    GIT_CLEAN_FLAGS: none
  cache:
  - key:
      files:
        - backend/uv.lock
    paths:
      - $UV_CACHE_DIR
  script:
    - cd backend
    - uv sync --locked --group test
    - uv cache prune --ci
  artifacts:
    paths:
      - backend/.venv/
    expire_in: 1h


env_vars:
  stage: build
  script:
    - cp $TEST_ENV_FILE .env
  artifacts:
    reports:
      dotenv: .env

db_up:
  stage: build
  services:
    - name: postgres:16
      alias: db
  variables:
    # если хочешь, можно подтянуть из .env вручную или скопировать значения сюда
    POSTGRES_DB: ${POSTGRES_DB}
    POSTGRES_USER: ${POSTGRES_USER}
    POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    POSTGRES_HOST: db
    POSTGRES_PORT: ${POSTGRES_PORT}

migrations_check:
  image: python:3.12-slim-bookworm
  needs:
    - job: uv_install
      artifacts: true
    - job: db_up
      artifacts: false
  before_script:
    - cd backend
  script:
    - source .venv/bin/activate
    - alembic check