---
uv_install:
  stage: test
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  variables:
    UV_CACHE_DIR: backend/.uv-cache
    UV_VERSION: "0.5"
    PYTHON_VERSION: "3.12"
    BASE_LAYER: bookworm-slim
    # GitLab CI creates a separate mountpoint for the build directory,
    # so we need to copy instead of using hard links.
    UV_LINK_MODE: copy
    GIT_CLEAN_FLAGS: none
  cache:
  - key:
      files:
        - backend/uv.lock
    paths:
      - $UV_CACHE_DIR
  script:
    - cd backend
    - uv sync --locked --group test
    - uv cache prune --ci
  artifacts:
    paths:
      - backend/.venv/
    expire_in: 1h

db_up:
  stage: test
  image: docker:24
  services:
    - docker:24-dind
  script:
    - cp $TEST_ENV_FILE .env
    - cd deploy/docker
    - docker compose -f docker-compose.test.yml --env-file ../../.env up -d db --build

migrations_check:
  image: python:3.12-slim-bookworm
  dependencies:
    - uv_install
    - db_up
  script:
    - cp $TEST_ENV_FILE .env
    - cd backend
    - source .venv/bin/activate
    - alembic check