@import url("tailwindcss");

:root {
  --white: #F5F5F5;
  --black: #252627;
  --accent: #FFDD2D;
  --background: #36604E;
  --main: #00402F;
  --inactive: #2e433b;
  --font-famaly: "Rubik", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --white: #F5F5F5;
  --black: #252627;
  --accent: #FFDD2D;
  --background: #36604E;
  --main: #00402F;
  --inactive: #2e433b;
  --font-famaly: "Rubik", sans-serif;
}

body {
  background: var(--background);
  color: var(--white);
  font-family: var(--font-famaly);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}