@import url("tailwindcss");

:root {
  --white: #F5F5F5;
  --black: #252627;
  --accent: #FFDD2D;
  --background: #36604E;
  --main: #00402F;
  --inactive: #2e433b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-famaly: "Rubik", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-famaly);
}
